---
import BaseLayout from "src/layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
import Hero from "@components/Home/Hero.astro";
import WhyChooseUs from "@components/Home/WhyChooseUs.astro";
import Gallery from "@components/Home/Gallery.astro";
---

<BaseLayout
    title="Free Websites for Local Businesses"
    description="Give your business the proper online support with a free website and affordable lifetime support & hosting"
    preloadImg="https://res.cloudinary.com/dpoanqywm/image/upload/v1705554228/Business_Owner_Energepiccom_313690_i9eo5y.jpg"
>
    <Hero />
    <WhyChooseUs />

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            https://res.cloudinary.com/dpoanqywm/image/upload/v1705979286/Black_Background_Text_Overlay_2_zxkscp.jpg
                        "
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            https://res.cloudinary.com/dpoanqywm/image/upload/v1705979286/Black_Background_Text_Overlay_1_whh2oq.jpg
                        "
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="https://res.cloudinary.com/dpoanqywm/image/upload/v1705979286/Black_Background_Text_Overlay_1_whh2oq.jpg"
                        alt="cabinets"
                        loading="lazy"
                        width="400"
                        height="563"
                    />
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            https://res.cloudinary.com/dpoanqywm/image/upload/v1705979286/Frustrated_Woman_Photo_1_puj1ww.jpg
                        "
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            https://res.cloudinary.com/dpoanqywm/image/upload/v1705979006/Frustrated_Woman_Photo_ra8l9f.jpg
                        "
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="https://res.cloudinary.com/dpoanqywm/image/upload/v1705979006/Frustrated_Woman_Photo_ra8l9f.jpg"
                        alt="house"
                        loading="lazy"
                        width="400"
                        height="563"
                    />
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">Claim your free website today!</span>
                <h2 class="cs-title">
                    No up-front costs for your business website
                </h2>
                <p class="cs-text">
                    Our process starts with a great foundation, and helps
                    eliminate unnecessary hurdles for business owners. Our sites
                    are hand coded, fast, and SEO focused, so you rank higher in
                    your area and get more customers.
                </p>
                <p class="cs-text">
                    Websites can cost upwards of $5,000-$10,000+ from most large
                    agencies, and clients are often left holding the bag when
                    they are done. Our process remove the up-front cost and
                    allows business owners like you to focus on running your
                    business, not chasing down your developer for updates or
                    problems.
                </p>
                <a href="#book-a-call" class="cs-button-solid"
                    >Claim Your Free Website</a
                >
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--            Extra Content To Rank             -->
    <!-- ============================================ -->

    <section id="sbs-r">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            https://res.cloudinary.com/dpoanqywm/image/upload/v1705983298/Smartphone_Google_Site_2_xmxbhf.jpg
                        "
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            https://res.cloudinary.com/dpoanqywm/image/upload/v1705983250/Smartphone_Google_Site_1_etbgt2.jpg
                        "
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="https://res.cloudinary.com/dpoanqywm/image/upload/v1705983250/Smartphone_Google_Site_1_etbgt2.jpg"
                        alt="house"
                        loading="lazy"
                        width="400"
                        height="560"
                    />
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            https://res.cloudinary.com/dpoanqywm/image/upload/v1705983249/Monitor_screengrab_photo_vo02zh.jpg
                        "
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            https://res.cloudinary.com/dpoanqywm/image/upload/v1705983249/Monitor_screengrab_photo_vo02zh.jpg
                        "
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="https://res.cloudinary.com/dpoanqywm/image/upload/v1705983249/Monitor_screengrab_photo_vo02zh.jpg"
                        alt="cabinets"
                        loading="lazy"
                        width="400"
                        height="560"
                    />
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">Rank Higher on Google</span>
                <h2 class="cs-title">SEO is Essential</h2>
                <p class="cs-text">
                    Our sites all come with essential Search Engine Optimization
                    included. Your business needs to be discoverable by your
                    potential customers, without them having to dig deep in
                    search results. Clean, well optimized code, and keyword rich
                    websites rank higher every time.
                </p>
                <p class="cs-text">
                    For more involved SEO development, we also offer more
                    comprehensive plans to dive deeper into what will yield the
                    best results consistently. SEO is a numbers game that never
                    stops, and neither should your business. See our plans and
                    decide which path is best to help your business grow.
                </p>
                <a href="#book-a-call" class="cs-button-solid"
                    >Rank Higher On Google</a
                >
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                     CTA Banner               -->
    <!-- ============================================ -->

    <section id="cta-697">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">
                    Ready to get started? Book a call today with our team today!
                </h2>
                <a
                    href="https://calendly.com/extensiblmedia/discovery-call"
                    class="cs-button-solid">Book A Call</a
                >
            </div>
        </div>
        <!--SVG Waves Background-->
        <img
            class="cs-background"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fwaves-3.svg"
            alt="wave graphic"
            width="1920"
            height="318"
            loading="lazy"
            decoding="async"
            aria-hidden="true"
        />
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            https://res.cloudinary.com/dpoanqywm/image/upload/v1706845779/Man_Sitting_Desk_1_r7htja.jpg
                        "
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            https://res.cloudinary.com/dpoanqywm/image/upload/v1706845779/Man_Sitting_Desk_jt2fzs.jpg
                        "
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="https://res.cloudinary.com/dpoanqywm/image/upload/v1706845779/Man_Sitting_Desk_jt2fzs.jpg"
                        alt="cabinets"
                        loading="lazy"
                        width="400"
                        height="563"
                    />
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            https://res.cloudinary.com/dpoanqywm/image/upload/v1706845779/Two_iMacs_Desk_Photo_1_hwlhfs.jpg
                        "
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            https://res.cloudinary.com/dpoanqywm/image/upload/v1706845779/Two_iMacs_Desk_Photo_1_hwlhfs.jpg
                        "
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="https://res.cloudinary.com/dpoanqywm/image/upload/v1706845779/Two_iMacs_Desk_Photo_1_hwlhfs.jpg"
                        alt="house"
                        loading="lazy"
                        width="400"
                        height="563"
                    />
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">Keep your site looking fresh</span>
                <h2 class="cs-title">Get Unlimited Website Updates Forever</h2>
                <p class="cs-text">
                    That's right, our service provides unlimited website changes
                    for as long as your plan is active. Feel free to reach out
                    to our team anytime to make adjustments to your site with no
                    questions or limitations.
                </p>
                <p class="cs-text">
                    Want a more updated look? We offer one full website refresh
                    every year for all of our customers also. Keep your site
                    looking fresh and modern, while never sacrificing
                    performance or results.
                </p>
                <a href="#book-a-call" class="cs-button-solid"
                    >Book A Call Today</a
                >
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--            Extra Content To Rank             -->
    <!-- ============================================ -->

    <section id="sbs-r">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            https://res.cloudinary.com/dpoanqywm/image/upload/v1706846200/Cute_Woman_Potter_1_nbacsw.jpg
                        "
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            https://res.cloudinary.com/dpoanqywm/image/upload/v1706846201/Cute_Woman_Potter_t8gppc.jpg
                        "
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="https://res.cloudinary.com/dpoanqywm/image/upload/v1706846201/Cute_Woman_Potter_t8gppc.jpg"
                        alt="house"
                        loading="lazy"
                        width="400"
                        height="560"
                    />
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            https://res.cloudinary.com/dpoanqywm/image/upload/v1705983665/Screenshot_2024-01-22_at_11.20.42_PM_kbl7n5.png
                        "
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            https://res.cloudinary.com/dpoanqywm/image/upload/v1705983665/Screenshot_2024-01-22_at_11.20.42_PM_kbl7n5.png
                        "
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="https://res.cloudinary.com/dpoanqywm/image/upload/v1705983665/Screenshot_2024-01-22_at_11.20.42_PM_kbl7n5.png"
                        alt="cabinets"
                        loading="lazy"
                        width="400"
                        height="560"
                    />
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">Add Ons for your site</span>
                <h2 class="cs-title">Generate More Leads for Your Business</h2>
                <p class="cs-text">
                    Choose from one of our add ons to add Lead Magnets like
                    Newsletter Pop Ups or Lead Collection forms to help secure
                    prospective customers. Conversion rates are generally higher
                    when including these in your website. Don't leave money on
                    the table.
                </p>
                <a href="#book-a-call" class="cs-button-solid"
                    >See More Add Ons</a
                >
            </div>
        </div>
    </section>

    <Gallery />

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="cs-container">
            <span class="cs-topper">Our Reviews</span>
            <h2 class="cs-title">Words From Our Customers</h2>
            <p class="cs-text">
                Don't take our word for it, read firsthand what our customers
                are saying about our excellent service
            </p>
            <ul class="cs-card-group">
                <!-- Review 1 -->
                <li class="cs-item">
                    <img
                        class="cs-item-img"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://res.cloudinary.com/dpoanqywm/image/upload/v1701828898/john-derry_o4s1rb.webp"
                        alt="profile picture"
                        width="80"
                        height="80"
                        style="border-radius: 100%"
                    />
                    <p class="cs-item-p">
                        Velocity Web Studio was recommended to us to build a new
                        website for Serenity Vista. They proposed a project plan
                        with schedule of payments, and delivered as promised.
                        They are professional, responsive, trustworthy and can
                        be counted on to do quality work.
                    </p>
                    <span class="cs-reviewer">
                        John D.
                        <span class="cs-desc">Serenity Vista</span>
                    </span>
                    <img
                        class="cs-item-stars"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                        alt="stars"
                        width="96"
                        height="16"
                    />
                </li>
                <!-- Review 2 -->
                <li class="cs-item">
                    <img
                        class="cs-item-img"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://res.cloudinary.com/dpoanqywm/image/upload/v1701828904/user-images_DAVID_MARGOLIN_PIC_x8wdvj.webp"
                        alt="profile picture"
                        width="80"
                        height="80"
                        style="border-radius: 100%"
                    />
                    <p class="cs-item-p">
                        Velocity Web Studio has been great to work with over the
                        past couple years. They are quick to respond to my
                        (frequent) questions/requests and their work always
                        meets expectations. They were always able to bounce
                        ideas off of and discuss and debate solutions to any
                        problem we faced.
                    </p>
                    <span class="cs-reviewer">
                        David M.
                        <span class="cs-desc">Knowledge Exchange</span>
                    </span>
                    <img
                        class="cs-item-stars"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                        alt="stars"
                        width="96"
                        height="16"
                    />
                </li>
            </ul>
            <a
                aria-label="read more reviews"
                href="/reviews"
                class="cs-button-solid">Read More Reviews</a
            >
        </div>
    </section>

    <!-- ============================================ -->
    <!--                     FAQ                      -->
    <!-- ============================================ -->

    <section id="faq-489">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">FAQ</span>
                <h2 class="cs-title" style="text-wrap: pretty">
                    If Your Question Is Not Here
                    <span class="cs-color">Contact Us</span>
                </h2>
                <p class="cs-text">
                    We are here to help your business thrive and grow online. If
                    you are unsure about anything, or have further questions
                    about how we can help your business, please feel free to
                    reach out to our team.
                </p>
                <a href="/contact" class="cs-button-solid">Contact Us</a>
            </div>
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What types of businesses do you work with?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Although we have worked with just about any industry you
                        can possibly think of, home service providers are our
                        favorite people to work with! Reach out to us and let us
                        know what type of business you have and we’ll let you
                        know if we think we can provide insane value to you. If
                        we do not think we are the absolute best fit for your
                        company we will refer other web design agencies who we
                        think would be able to serve you best!
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Is there a minimum contract length?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Yes, due to the nature of our work, we do require a
                        minimum 12 month contract for all new customers. This
                        ensures both parties that we are together for the long
                        run.
                    </p>
                    <p class="cs-item-p">
                        However, we strive to offer more than just a website,
                        but rather foster a partnership that helps your business
                        grow, while offering valuable insight and strategies for
                        long term success.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How much will my website cost?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        We believe pricing should be transparent, without any
                        hidden fees. That’s why our affordable packages start at
                        as little as $150 a month—without any down payment or
                        start-up costs. To get started today, contact us and
                        we’ll help you select the best package for your needs.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What happens if I want to cancel?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        If you are not currently under the minimum contract term
                        and want to cancel, you own your domain, content,
                        listing, and profiles. Cancel anytime with no fees or
                        hassle.
                    </p>
                    <p class="cs-item-p">
                        If you are under a contract term, please see our Terms &
                        Conditions regarding our cancellation policy.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Do you offer a money back guarantee?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Yes, you can request a full refund of your subscription
                        for any reason within the first 30 days.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How long will it take to build my website?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Where other web design agencies may leave you hanging
                        for many months before launch, we know the sooner your
                        website is up, the faster you can make sales.
                    </p>
                    <p class="cs-item-p">
                        That’s why we get your website live in as little as 30
                        days (once your onboarding phase is complete). Larger
                        packages and add-on services may extend the length of
                        your project.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Will my website be Google Optimized?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Yes! We hand code all of our websites to give you the
                        best optimization headstart. Then, as a part of every
                        package, we implement all the appropriate search engine
                        optimization (SEO) strategies you need for a great
                        start. (This includes optimized heading tags, URL
                        structures, title tagging, meta descriptions, etc.)
                    </p>

                    <p class="cs-item-p">
                        We will also optimize your images and create an XML
                        sitemap to make your site more searchable. We will keep
                        your site secure with an SSL certificate and make sure
                        your site loads fast, since both factors can impact
                        search rankings.
                    </p>
                    <p class="cs-item-p">
                        We also offer professional, keyword-optimized content
                        writing for site. Just request it during onboarding as
                        an add on!
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Can you profide content for my site?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Yes, most businesses hire us to write SEO-optimized
                        content to paint their company in the best light
                        possible, this addon typically costs $150 per page.
                    </p>
                </li>
            </ul>
        </div>
    </section>
    <CTA />
    <style lang="less">
        /* STYLES FOR ABOVE THE FOLD */

        /* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

        /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

        /* Mobile - 360px */
        @media only screen and (min-width: 0em) {
            #sbs {
                padding: var(--sectionPadding);

                .cs-container {
                    width: 100%;
                    max-width: (1280/16rem);
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    row-gap: (40/16rem);
                }

                .cs-left {
                    /* scaling the font size with the view width */
                    font-size: ~"min(2.31vw, .7em)";
                    /* using ems so we can use font size to scale the whole section */
                    width: (631/16em);
                    height: (636/16em);
                    position: relative;
                }

                .cs-picture {
                    border-radius: (24/16em);
                    display: block;
                    position: absolute;
                    /* clips img tag corners */
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        /* makes image act like a background image */
                        object-fit: cover;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }

                .cs-picture1 {
                    width: (522/16em);
                    height: (581/16em);
                    top: 0;
                    left: 0;
                }

                .cs-picture2 {
                    width: (414/16em);
                    height: (400/16em);
                    background-color: #fff;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
                    /* 6px - 12px */
                    border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
                    right: 0;
                    bottom: 0;
                }

                .cs-right {
                    max-width: (542/16rem);
                    margin: auto;
                }

                .cs-topper {
                    text-align: left;
                    margin-bottom: (4/16rem);
                }

                .cs-title {
                    text-align: left;
                    max-width: (800/16rem);
                }

                .cs-text {
                    text-align: left;
                    max-width: (750/16rem);
                    margin-bottom: (16/16rem);

                    &:last-of-type {
                        margin-bottom: (32/16rem);
                    }
                }

                .cs-flex-group {
                    /* 16px - 32px */
                    padding: clamp(1rem, 3vw, 2rem);
                    background-color: #f7f7f7;
                    border-radius: (16/16rem);
                    position: relative;
                }

                .cs-flex-p {
                    /* 14px - 16px */
                    font-size: clamp(0.875rem, 1.5vw, 1rem);
                    line-height: 1.5em;
                    margin: 0 0 (16/16rem);
                    color: #353535;
                }

                .cs-name {
                    font-size: (16/16rem);
                    font-weight: bold;
                    line-height: 1.2em;
                    text-transform: uppercase;
                    margin: 0 0 (4/16rem);
                    color: var(--headerColor);
                    display: block;
                }

                .cs-job {
                    font-size: (14/16rem);
                    line-height: 1.5em;
                    color: #353535;
                    display: block;
                }

                .cs-quote-icon {
                    /* 60px - 136px */
                    width: clamp(3.75rem, 10vw, 8.5rem);
                    height: auto;
                    position: absolute;
                    /* 16px - 32px */
                    right: clamp(1rem, 4vw, 2rem);
                    bottom: (0/16rem);
                }

                .cs-button-solid {
                    margin-top: (32/16rem);
                }
            }
        }

        /* Desktop - 1024px */
        @media only screen and (min-width: 64em) {
            #sbs {
                .cs-container {
                    flex-flow: row;
                    justify-content: space-between;
                    gap: (52/16rem);
                }

                .cs-left {
                    font-size: ~"min(1.2vw, 1em)";
                    flex: none;
                }

                .cs-right {
                    margin: 0;
                }
            }
        }

        /* Dark Mode */
        @media only screen and (min-width: 0em) {
            body.dark-mode {
                #sbs {
                    .cs-left {
                        &:before,
                        &:after {
                            background: var(--accent);
                        }
                    }

                    .cs-picture2 {
                        background-color: var(--dark);
                        /* 6px - 12px */
                        border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
                    }

                    .cs-topper {
                        color: var(--primaryLight);
                    }

                    .cs-title,
                    .cs-text,
                    .cs-h3,
                    .cs-flex-p,
                    .cs-name {
                        color: var(--bodyTextColorWhite);
                    }

                    .cs-flex-group {
                        background-color: var(--accent);
                    }

                    .cs-job {
                        color: var(--bodyTextColorWhite);
                        opacity: 0.8;
                    }

                    .cs-quote-icon {
                        opacity: 0.2;
                    }
                }
            }
        }

        /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

        /* Mobile - 360px */
        @media only screen and (min-width: 0em) {
            #sbs-r {
                padding: var(--sectionPadding);

                .cs-container {
                    width: 100%;
                    max-width: (1280/16rem);
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    row-gap: (40/16rem);
                }

                .cs-left {
                    /* scaling the font size with the view width */
                    font-size: ~"min(2.31vw, .7em)";
                    /* using ems so we can use font size to scale the whole section */
                    width: (631/16em);
                    height: (636/16em);
                    position: relative;
                }

                .cs-picture {
                    border-radius: (24/16em);
                    display: block;
                    position: absolute;
                    /* clips img tag corners */
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        /* makes image act like a background image */
                        object-fit: cover;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }

                .cs-picture1 {
                    width: (522/16em);
                    height: (581/16em);
                    top: 0;
                    right: 0;
                }

                .cs-picture2 {
                    width: (414/16em);
                    height: (400/16em);
                    background-color: #fff;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
                    /* 6px - 12px */
                    border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
                    bottom: 0;
                    left: 0;
                }

                .cs-right {
                    max-width: (542/16rem);
                    margin: auto;
                }

                .cs-topper {
                    text-align: left;
                    margin-bottom: (4/16rem);
                }

                .cs-title {
                    text-align: left;
                    max-width: (800/16rem);
                }

                .cs-text {
                    text-align: left;
                    max-width: (750/16rem);
                    margin-bottom: (16/16rem);
                    &:last-of-type {
                        margin-bottom: (32/16rem);
                    }
                }

                .cs-flex-group {
                    /* 16px - 32px */
                    padding: clamp(1rem, 3vw, 2rem);
                    background-color: #f7f7f7;
                    border-radius: (16/16rem);
                    position: relative;
                }

                .cs-flex-p {
                    /* 14px - 16px */
                    font-size: clamp(0.875rem, 1.5vw, 1rem);
                    line-height: 1.5em;
                    margin: 0 0 (16/16rem);
                    color: #353535;
                }

                .cs-name {
                    font-size: (16/16rem);
                    font-weight: bold;
                    line-height: 1.2em;
                    text-transform: uppercase;
                    margin: 0 0 (4/16rem);
                    color: var(--headerColor);
                    display: block;
                }

                .cs-job {
                    font-size: (14/16rem);
                    line-height: 1.5em;
                    color: #353535;
                    display: block;
                }

                .cs-quote-icon {
                    /* 60px - 136px */
                    width: clamp(3.75rem, 10vw, 8.5rem);
                    height: auto;
                    position: absolute;
                    /* 16px - 32px */
                    right: clamp(1rem, 4vw, 2rem);
                    bottom: (0/16rem);
                }
            }
        }

        /* Desktop - 1024px */
        @media only screen and (min-width: 64em) {
            #sbs-r {
                .cs-container {
                    flex-flow: row;
                    justify-content: space-between;
                    gap: (52/16rem);
                }

                .cs-left {
                    font-size: ~"min(1.2vw, 1em)";
                    /* sends it to the right */
                    order: 2;
                    flex: none;
                }

                .cs-right {
                    margin: 0;
                }
            }
        }

        /* Dark Mode */
        @media only screen and (min-width: 0em) {
            body.dark-mode {
                #sbs-r {
                    .cs-left {
                        &:before,
                        &:after {
                            background: var(--accent);
                        }
                    }

                    .cs-picture2 {
                        background-color: var(--dark);
                        /* 6px - 12px */
                        border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
                    }

                    .cs-topper {
                        color: var(--primaryLight);
                    }

                    .cs-title,
                    .cs-text,
                    .cs-h3,
                    .cs-flex-p,
                    .cs-name {
                        color: var(--bodyTextColorWhite);
                    }

                    .cs-flex-group {
                        background-color: var(--accent);
                    }

                    .cs-job {
                        color: var(--bodyTextColorWhite);
                        opacity: 0.8;
                    }

                    .cs-quote-icon {
                        opacity: 0.2;
                    }
                }
            }
        }

        /*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

        /* Mobile - 360px */
        @media only screen and (min-width: 0em) {
            #reviews {
                /* Centers the button */
                text-align: center;
                padding: var(--sectionPadding);

                .cs-container {
                    width: 100%;
                    max-width: (1104/16rem);
                    margin: auto;
                }

                .cs-topper {
                    text-align: center;
                    margin-bottom: (16/16rem);
                }

                .cs-title {
                    text-align: center;
                    max-width: (700/16rem);
                }

                .cs-text {
                    text-align: center;
                    max-width: (650/16rem);
                    /* 88px - 104px */
                    margin-bottom: clamp(5.5em, 10.2vw, 6.5em);
                }

                .cs-card-group {
                    /* 48px - 64px */
                    margin: 0 auto clamp(3rem, 5vw, 4rem);
                    padding: 0;
                }

                .cs-item {
                    text-align: left;
                    list-style: none;
                    width: 100%;
                    max-width: (542/16rem);
                    margin: 0 auto (64/16rem);
                    /* Prevents padding from affecting height & width */
                    box-sizing: border-box;
                    /* Padding L & R - 16px - 32px */
                    padding: (60/16rem) clamp(1rem, 3.2vw, 2rem) 0;
                    /* 32px - 40px */
                    padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
                    background: #fff;
                    box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
                    border-radius: (4/16rem);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    position: relative;
                    border-radius: 0.5rem;

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }

                .cs-item-img {
                    width: (80/16rem);
                    height: (80/16rem);
                    position: absolute;
                    top: (-40/16rem);
                }

                .cs-item-p {
                    font-size: (16/16rem);
                    line-height: 1.5em;
                    margin: 0 0 (20/16rem);
                    padding-bottom: (20/16rem);
                    color: var(--bodyTextColor);
                    border-bottom: 1px solid #e8e9ec;
                }

                .cs-reviewer {
                    font-size: (16/16rem);
                    font-weight: 700;
                    line-height: 1.5em;
                    width: 40%;
                    margin: 0 auto 0 0;
                    color: var(--headerColor);
                    display: block;
                }

                .cs-desc {
                    font-size: (14/16rem);
                    font-weight: 400;
                    color: var(#353535);
                    display: block;
                }

                .cs-item-stars {
                    width: (96/16rem);
                    height: (16/16rem);
                }
            }
        }

        /* Tablet - 768px */
        @media only screen and (min-width: 48em) {
            #reviews {
                .cs-card-group {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: (16/16rem);
                }

                .cs-item {
                    /* reset margin so it won't interfere with flexbox */
                    margin: 0;
                }
            }
        }

        /* Dark Mode */
        @media only screen and (min-width: 0em) {
            body.dark-mode {
                #reviews {
                    .cs-title,
                    .cs-text,
                    .cs-item-p,
                    .cs-reviewer {
                        color: var(--bodyTextColorWhite);
                    }

                    .cs-item {
                        background: var(--medium);
                    }

                    .cs-desc {
                        color: var(--primaryLight);
                    }
                }
            }
        }

        /*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

        /* Mobile - 360px */
        @media only screen and (min-width: 0rem) {
            #faq-489 {
                padding: var(--sectionPadding);

                .cs-container {
                    width: 100%;
                    /* changes to 1280px at tablet */
                    max-width: (550/16rem);
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    /* 40px - 48px */
                    gap: clamp(2.5rem, 5vw, 3rem);
                }

                .cs-content {
                    /* set text align to left if content needs to be left aligned */
                    text-align: left;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    /* centers content horizontally, set to flex-start to left align */
                    align-items: flex-start;
                }

                .cs-color {
                    color: var(--primary);
                }
                .cs-title {
                    /* 17 characters wide including spaces */
                    // max-width: 17ch;
                }

                .cs-text {
                    /* 32px - 48px */
                    margin-bottom: clamp(2rem, 3vw, 3rem);
                }

                .cs-button-solid {
                    font-size: (16/16rem);
                    /* 46px - 56px */
                    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
                    text-decoration: none;
                    font-weight: 700;
                    text-align: center;
                    margin: 0;
                    color: #fff;
                    min-width: (150/16rem);
                    padding: 0 (24/16rem);
                    background-color: var(--primary);
                    border-radius: (4/16rem);
                    display: inline-block;
                    position: relative;
                    z-index: 1;
                    /* prevents padding from adding to the width */
                    box-sizing: border-box;

                    &:before {
                        content: "";
                        position: absolute;
                        height: 100%;
                        width: 0%;
                        background: #000;
                        opacity: 1;
                        top: 0;
                        left: 0;
                        z-index: -1;
                        border-radius: (4/16rem);
                        transition: width 0.3s;
                    }

                    &:hover {
                        &:before {
                            width: 100%;
                        }
                    }
                }

                .cs-faq-group {
                    max-width: (740/16rem);
                    padding: 0;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: (20/16rem);
                }

                .cs-faq-item {
                    border-radius: 0.5rem;
                    list-style: none;
                    width: 100%;
                    /* prevents border from affecting width and height */
                    box-sizing: border-box;
                    border: 1px solid #f1f1f4;
                    transition:
                        border 0.3s,
                        padding 0.3s,
                        border-color 0.3s;

                    &:hover {
                        border-color: var(--primary);
                    }

                    &.active {
                        padding-bottom: (16/16rem);
                        border-color: var(--primary);
                        .cs-button {
                            color: var(--primary);
                            &:before {
                                transform: translateY(-50%) rotate(180deg);
                                opacity: 0;
                                background-color: var(--primary);
                            }
                            &:after {
                                transform: translateY(-50%) rotate(360deg);
                                background-color: var(--primary);
                            }
                        }
                        .cs-item-p {
                            height: auto;
                            margin-top: (8/16rem);
                            opacity: 1;
                        }
                    }
                }

                .cs-button {
                    /* 20px - 25px */
                    font-size: clamp(1.25rem, 1vw, 1.5625rem);
                    line-height: 1.2em;
                    text-align: left;
                    font-weight: bold;
                    padding: (16/16rem) (24/16rem);
                    border: none;
                    background: transparent;
                    color: var(--headerColor);
                    display: block;
                    width: 100%;
                    position: relative;
                    transition:
                        background-color 0.3s,
                        color 0.3s;

                    &:hover {
                        cursor: pointer;
                    }

                    &:before {
                        /* horizontal line */
                        content: "";
                        width: (16/16rem);
                        height: (3/16rem);
                        background-color: currentColor;
                        opacity: 1;
                        border-radius: 1px;
                        position: absolute;
                        display: block;
                        top: 50%;
                        right: (24/16rem);
                        transform: translateY(-50%);
                        transition:
                            transform 0.5s,
                            opacity 0.3s;
                    }

                    &:after {
                        /* vertical line */
                        content: "";
                        width: (16/16rem);
                        height: (3/16rem);
                        background-color: currentColor;
                        opacity: 1;
                        border-radius: 1px;
                        position: absolute;
                        display: block;
                        top: 50%;
                        right: (24/16rem);
                        transform: translateY(-50%) rotate(90deg);
                        transform-origin: center;
                        transition: transform 0.5s;
                    }
                }

                .cs-button-text {
                    width: 80%;
                    display: block;
                }

                .cs-item-p {
                    /* 14px - 16px */
                    font-size: clamp(0.875rem, 1.5vw, 1rem);
                    line-height: 1.5em;
                    width: 90%;
                    height: 0;
                    margin: 0;
                    /* prevents padding and border from affecting height and width */
                    box-sizing: border-box;
                    padding: 0 (24/16rem);
                    opacity: 0;
                    color: var(--bodyTextColor);
                    /* clips the text so it doesn't show up */
                    overflow: hidden;
                    transition:
                        opacity 0.3s,
                        padding-bottom 0.3s;
                }
            }
        }

        /* Desktop - 1024px */
        @media only screen and (min-width: 48rem) {
            #faq-489 {
                .cs-container {
                    max-width: (1280/16rem);
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    gap: (52/16rem);
                }

                .cs-content {
                    margin-top: (50/16rem);
                }

                .cs-title,
                .cs-topper {
                    text-align: left;
                    margin-left: 0;
                }

                .cs-faq-group {
                    width: clamp(56%, 58vw, 58%);
                    flex: none;
                }
            }
        }

        /* Dark Mode */
        @media only screen and (min-width: 0rem) {
            body.dark-mode {
                #faq-489 {
                    background-color: rgba(0, 0, 0, 0.2);
                    .cs-topper {
                        color: var(--primaryLight);
                    }

                    .cs-title,
                    .cs-text,
                    .cs-item-p {
                        color: var(--bodyTextColorWhite);
                    }

                    .cs-text,
                    .cs-item-p {
                        opacity: 0.8;
                    }

                    .cs-faq-item {
                        border-color: rgba(255, 255, 255, 0.2);
                        &:hover {
                            border-color: var(--primary);
                        }
                        &.active {
                            border-color: var(--primaryLight);
                            .cs-button {
                                color: var(--primaryLight);
                                &:before,
                                &:after {
                                    background-color: var(--primaryLight);
                                }
                            }
                        }
                    }

                    .cs-button {
                        color: var(--bodyTextColorWhite);
                        &:before,
                        &:after {
                            background-color: var(--bodyTextColorWhite);
                        }
                    }
                }
            }
        }

        /*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

        /* Mobile - 360px */
        @media only screen and (min-width: 0rem) {
            #cta-697 {
                padding: var(--sectionPadding);
                background-color: var(--primary);
                position: relative;
                z-index: 1;

                .cs-container {
                    width: 100%;
                    max-width: (1280/16rem);
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    /* 48px - 64px */
                    gap: clamp(3rem, 6vw, 4rem);
                }

                .cs-content {
                    /* set text align to left if content needs to be left aligned */
                    text-align: center;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    /* centers content horizontally, set to flex-start to left align */
                    align-items: center;
                    /* 48px - 64px */
                    gap: clamp(3rem, 6vw, 4rem);

                    h2 {
                        max-width: 50rem;
                        margin: 0;
                        color: #fff;
                    }
                }
                .cs-button-solid {
                    font-size: (16/16rem);
                    /* 46px - 56px */
                    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
                    text-decoration: none;
                    font-weight: 700;
                    text-align: center;
                    margin: 0;
                    color: #fff;
                    min-width: (150/16rem);
                    padding: 0 (24/16rem);
                    background-color: var(--secondary);
                    border-radius: (4/16rem);
                    display: inline-block;
                    position: relative;
                    z-index: 1;
                    /* prevents padding from adding to the width */
                    box-sizing: border-box;
                    text-wrap: nowrap;

                    &:before {
                        content: "";
                        position: absolute;
                        height: 100%;
                        width: 0%;
                        background: #000;
                        opacity: 1;
                        top: 0;
                        left: 0;
                        z-index: -1;
                        border-radius: (4/16rem);
                        transition: width 0.3s;
                    }

                    &:hover {
                        &:before {
                            width: 100%;
                        }
                    }
                }

                .cs-background {
                    width: 100%;
                    height: 100%;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    /* makes it act like a background image */
                    object-fit: cover;
                }
            }
        }

        /* Small Desktop - 1024px */
        @media only screen and (min-width: 64rem) {
            #cta-697 {
                .cs-content {
                    text-align: left;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
        }
    </style>
</BaseLayout>
