---
import BaseLayout from "src/layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
import PricingTable from "@components/PricingTable.astro";
import AddOns from "@components/AddOnsPreview.astro";
---

<BaseLayout
    title="Pricing - Velocity Web Studio"
    description="Find the plan to fit your budget, get started with a subscription today!"
    preloadImg={"https://res.cloudinary.com/dpoanqywm/image/upload/v1706643398/Web_Development_Tranmautritam_1_iycisb.jpg"}
>
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Pricing</h1>
        <picture>
            <source
                media="(max-width: 600px)"
                srcset="https://res.cloudinary.com/dpoanqywm/image/upload/v1706643398/Web_Development_Tranmautritam_1_iycisb.jpg"
            />
            <source
                media="(min-width: 601px)"
                srcset="https://res.cloudinary.com/dpoanqywm/image/upload/v1706643398/Web_Development_Tranmautritam_1_iycisb.jpg"
            />
            <img
                aria-hidden="true"
                decoding="async"
                src="https://res.cloudinary.com/dpoanqywm/image/upload/v1706643398/Web_Development_Tranmautritam_1_iycisb.jpg"
                alt="kitchen cabinets"
                loading="eager"
                width="2500"
                height="1667"
            />
        </picture>
    </section>

    <PricingTable />
    <AddOns />

    <CTA />
</BaseLayout>

<style lang="less"></style>
