---
---

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services">
    <ul class="cs-card-group">
        <li class="cs-item">
            <picture class="cs-icon">
                <img
                    loading="lazy"
                    decoding="async"
                    src="https://res.cloudinary.com/dpoanqywm/image/upload/v1708474953/Speed_Email_Icon_tljfho.svg"
                    alt="icon"
                    width="52"
                    height="52"
                    aria-hidden="true"
                />
            </picture>
            <h2 class="cs-title">Blazing Fast Websites</h2>
            <p class="cs-text">
                Get a fast, hand-coded websites with an SEO focus. Get your
                landing page designed in as little as 1-2 business days after
                signing up.
            </p>
        </li>
        <li class="cs-item">
            <picture class="cs-icon">
                <img
                    loading="lazy"
                    decoding="async"
                    src="https://res.cloudinary.com/dpoanqywm/image/upload/v1708014060/Support_Vector_Icon_sjdnci.svg"
                    alt="icon"
                    width="52"
                    height="52"
                    aria-hidden="true"
                />
            </picture>
            <h2 class="cs-title">Expert Support, Always</h2>
            <p class="cs-text">
                Stay worry free with our comprehensive support, and enjoy the
                peace of mind of never having to worry if your website is
                working properly.
            </p>
        </li>
        <li class="cs-item">
            <picture class="cs-icon">
                <img
                    loading="lazy"
                    decoding="async"
                    src="https://res.cloudinary.com/dpoanqywm/image/upload/v1708014060/Dollar_Circle_List_aucmnc.svg"
                    alt="icon"
                    width="52"
                    height="52"
                    aria-hidden="true"
                />
            </picture>
            <h2 class="cs-title">Budget-Friendly Success</h2>
            <p class="cs-text">
                Propel your business affordably with our comprehensive website
                service, we offer ongoing support tailored to your business
                needs.
            </p>
        </li>
    </ul>
</section>

<style lang="less">
    /*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

    /* Mobile - 360px */
    @media only screen and (min-width: 0rem) {
        #services {
            /* 40px - 100px */
            padding: 0 (16/16em) clamp(2.5rem, 7.9vw, 6.25rem) (16/16rem);
            position: relative;
            /* give a higher z index than the hero so it can sit on top */
            z-index: 10;

            .cs-card-group {
                width: 100%;
                max-width: (465/16rem);
                margin: 0 auto 0;
                /* negative margin pulls it up on top of the hero section */
                /* -46px to -76px - we're calculating whatever clamp is and multiplying by -1
            to make the value negative since clamp doesn't work with negative values */
                margin-top: ~"calc(clamp(5rem, 13vw, 4.75rem)*-1)";
                /* 40px - 60px top and bottom, 16px - 44px left & right */
                padding: clamp(2.5rem, 4.7vw, 3.75rem)
                    clamp(1rem, 5.3vw, 2.75rem);
                box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.05);
                border-radius: (1rem);
                // border-top: 8px solid var(--primary);
                background-color: #fff;
                /* prevents padding and border from affecting height and width */
                box-sizing: border-box;
            }

            .cs-item {
                list-style: none;
                margin: 0 auto (32/16rem);
                width: 100%;
                max-width: (360/16rem);

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            .cs-icon {
                /* 68px - 88px */
                width: clamp(4.25rem, 8.8vw, 5.5rem);
                /* 68px - 88px */
                height: clamp(4.25rem, 8.8vw, 5.5rem);
                margin: auto;
                /* 20px - 24px */
                margin-bottom: clamp(1.25rem, 5vw, 1.5rem);
                background: var(--primary);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    /* 44px - 52px */
                    width: clamp(2.75rem, 5.8vw, 3.25rem);
                    height: auto;
                }
            }

            .cs-title {
                font-size: (20/16rem);
                line-height: 1.2em;
                text-transform: uppercase;
                text-align: center;
                margin: 0 auto (8/16rem);
                color: var(--headerColor);
            }

            .cs-text {
                font-size: (16/16rem);
                text-align: center;
                line-height: 1.5em;
                max-width: (360/16rem);
                margin: 0 auto;
                color: var(--bodyTextColor);
            }
        }
    }

    /* Tablet - 768px */
    @media only screen and (min-width: 48rem) {
        #services {
            .cs-card-group {
                max-width: (784/16rem);
                /* -76px to -320px - we're calculating whatever clamp is and multiplying by -1
               to make the value negative since clamp doesn't work with negative values */
                margin-top: ~"calc(clamp(4.75rem, 20vw, 20rem)*-1)";
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                column-gap: (40/16rem);
            }

            .cs-item {
                width: 45%;
                max-width: (314/16rem);
                &:last-of-type {
                    margin-bottom: (32/16rem);
                }
            }
        }
    }

    /* Desktop - 1300px */
    @media only screen and (min-width: 81.25rem) {
        #services {
            .cs-card-group {
                max-width: (1280/16rem);
                flex-wrap: nowrap;
            }

            .cs-item {
                margin: 0;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

    /* Dark Mode */
    @media only screen and (min-width: 0rem) {
        body.dark-mode {
            #services {
                .cs-card-group {
                    background: var(--medium);
                }

                .cs-icon {
                    background: var(--darkTint);
                }

                .cs-title {
                    color: #fff;
                }

                .cs-text {
                    color: #fff;
                }
            }
        }
    }
</style>
