<!-- ============================================ --><!--             Final Call to Action             --><!-- ============================================ -->
<section id="cta">
    <div class="container">
        <h2 class="title">
            Give Your Business
            <br />
            The Website It Deserves
        </h2>
        <p>
            Book a call today to get started with our no-hassle plans to ensure
            your website is doing the most work possible for your business.
        </p>
        <a
            href="https://calendly.com/extensiblmedia/discovery-call"
            class="cs-button-solid">Book A Call Today</a
        >
    </div>
    <picture>
        <source
            media="(max-width: 600px)"
            srcset="https://res.cloudinary.com/dpoanqywm/image/upload/v1706123639/People_Using_Computers_at_Work_kbmjg3.jpg"
        />
        <source
            media="(min-width: 601px)"
            srcset="https://res.cloudinary.com/dpoanqywm/image/upload/v1706123574/People_Using_Computers_at_Work_o9uce1.jpg"
        />
        <img
            aria-hidden="true"
            decoding="async"
            src="https://res.cloudinary.com/dpoanqywm/image/upload/v1706123574/People_Using_Computers_at_Work_o9uce1.jpg"
            alt="developers working on some code"
            loading="lazy"
            width="2500"
            height="1667"
        />
    </picture>
</section>
